.body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hwb(0 49% 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.card{
    width: 320px;
    background-color: white;
    box-sizing: border-box;
    padding: 25px ;
    border: 5px solid #410707;
    margin:  90px auto;
    margin-left: 25%;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 15);
    transition: transform 0.3s ease;
}
.profile img{
    border-radius:50%;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px;
    object-fit: cover;
    border: 3px solid #ddd;
}
.card h1{
    font-size: 40px;
    color: blueviolet;
    margin-bottom: 10px;
}
.h2{
    font-weight: bolder;
    color: hsl(0, 0%, 20%);
}
.card p{
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}
.button {
    padding: 10px 20px;
    border:none;
    border-radius: 25px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover:hover{
    background-color: #410707;
    transform: scale(1.05);    
}
.card:hover{
    transform: translateY(-5px);
}     



